<div class="artefact-use">
  <div class="artefact-use-header">
    <img src="{{itemImg}}" class="artefact-use-img" />
    <span class="artefact-use-name">{{itemName}}</span>
  </div>
  <div class="artefact-use-capacity">
    <span class="artefact-use-level">{{localize "DANGEROUSGARY.Artefact.LevelAbbr"}} {{capacityLevel}}</span>
    <div class="artefact-use-description">{{{capacityDescription}}}</div>
  </div>
</div>
