<section class="tab standard-form character-classes {{#if tabs.classes.active}} active{{/if}}" data-group="primary" data-tab="classes">
  <div class="osmose-block">
    <span class="osmose-label">{{localize "DANGEROUSGARY.Labels.long.osmose"}}</span>
    <div class="osmose-pips">
      <span class="osmose-pip {{#if (gte system.osmose 1)}}filled{{/if}}" data-action="toggleOsmose" data-value="1"></span>
      <span class="osmose-pip {{#if (gte system.osmose 2)}}filled{{/if}}" data-action="toggleOsmose" data-value="2"></span>
      <span class="osmose-pip {{#if (gte system.osmose 3)}}filled{{/if}}" data-action="toggleOsmose" data-value="3"></span>
    </div>
  </div>
  <div class="classes-panel panel">
    <div class="classes-grid">
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.cleric"}} ({{localize "DANGEROUSGARY.Labels.short.str"}})</span>
          <input type="number" name="system.classes.cleric" value="{{system.classes.cleric}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.cleric as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.fighter"}} ({{localize "DANGEROUSGARY.Labels.short.str"}})</span>
          <input type="number" name="system.classes.fighter" value="{{system.classes.fighter}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.fighter as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.paladin"}} ({{localize "DANGEROUSGARY.Labels.short.str"}})</span>
          <input type="number" name="system.classes.paladin" value="{{system.classes.paladin}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.paladin as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.druid"}} ({{localize "DANGEROUSGARY.Labels.short.dex"}})</span>
          <input type="number" name="system.classes.druid" value="{{system.classes.druid}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.druid as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.monk"}} ({{localize "DANGEROUSGARY.Labels.short.dex"}})</span>
          <input type="number" name="system.classes.monk" value="{{system.classes.monk}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.monk as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.thief"}} ({{localize "DANGEROUSGARY.Labels.short.dex"}})</span>
          <input type="number" name="system.classes.thief" value="{{system.classes.thief}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.thief as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.bard"}} ({{localize "DANGEROUSGARY.Labels.short.wil"}})</span>
          <input type="number" name="system.classes.bard" value="{{system.classes.bard}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.bard as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.mage"}} ({{localize "DANGEROUSGARY.Labels.short.wil"}})</span>
          <input type="number" name="system.classes.mage" value="{{system.classes.mage}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.mage as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="class-cell">
        <div class="class-header">
          <span class="class-name">{{localize "DANGEROUSGARY.Talent.Classes.ranger"}} ({{localize "DANGEROUSGARY.Labels.short.wil"}})</span>
          <input type="number" name="system.classes.ranger" value="{{system.classes.ranger}}" min="0" max="9" />
        </div>
        <span class="class-talents-label">{{localize "DANGEROUSGARY.Labels.long.talents"}}</span>
        <div class="class-talents">
          {{#each talentsByClass.ranger as |talent|}}
            <div class="talent" data-item-id="{{talent.id}}">
              <span class="talent-name" data-tooltip="{{{talent.enrichedDescription}}}" data-tooltip-direction="UP">{{talent.name}}{{#if talent.system.special}}*{{/if}} ({{talent.system.level}})</span>
              <div class="talent-controls">
                <span class="rollable" data-action="rollClassSave" data-talent-class="{{talent.system.talentClass}}" data-item-id="{{talent.id}}" data-tooltip="{{localize 'DANGEROUSGARY.RollClassSave'}}" data-tooltip-direction="UP"><i class="fas fa-dice-d20"></i></span>
                <a data-action="edit" data-item-id="{{talent.id}}"><i class="fas fa-edit"></i></a>
                <a data-action="delete" data-item-id="{{talent.id}}"><i class="fas fa-trash"></i></a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
