<div class="standard-form encounter-main">

  <div class="encounter-header">
    <div><img class="encounter-img" src="{{actor.img}}" data-edit="img" data-action="editImage" data-tooltip="{{actor.name}}" /></div>
    <div class="encounter-details">
      <div class="encounter-name">{{formInput fields.name value=source.name }}</div>
      <div class="encounter-stats">
        <div class="stat-block">
          <span class="stat-label rollable" data-action="rollSave" data-ability="str" data-tooltip="{{localize 'DANGEROUSGARY.RollStrength'}}" data-tooltip-direction="UP"><strong>{{localize "DANGEROUSGARY.Labels.short.str"}}</strong></span>
          <div class="stat-inputs">
            {{formInput systemFields.abilities.fields.str.fields.value value=system.abilities.str.value }}
            <span class="sep">/</span>
            {{formInput systemFields.abilities.fields.str.fields.max value=system.abilities.str.max }}
          </div>
        </div>
        <div class="stat-block">
          <span class="stat-label rollable" data-action="rollSave" data-ability="dex" data-tooltip="{{localize 'DANGEROUSGARY.RollDexterity'}}" data-tooltip-direction="UP"><strong>{{localize "DANGEROUSGARY.Labels.short.dex"}}</strong></span>
          <div class="stat-inputs">
            {{formInput systemFields.abilities.fields.dex.fields.value value=system.abilities.dex.value }}
            <span class="sep">/</span>
            {{formInput systemFields.abilities.fields.dex.fields.max value=system.abilities.dex.max }}
          </div>
        </div>
        <div class="stat-block">
          <span class="stat-label rollable" data-action="rollSave" data-ability="wil" data-tooltip="{{localize 'DANGEROUSGARY.RollWillpower'}}" data-tooltip-direction="UP"><strong>{{localize "DANGEROUSGARY.Labels.short.wil"}}</strong></span>
          <div class="stat-inputs">
            {{formInput systemFields.abilities.fields.wil.fields.value value=system.abilities.wil.value }}
            <span class="sep">/</span>
            {{formInput systemFields.abilities.fields.wil.fields.max value=system.abilities.wil.max }}
          </div>
        </div>
        <div class="stat-block">
          <span class="stat-label"><strong>{{localize "DANGEROUSGARY.Labels.short.hp"}}</strong></span>
          <div class="stat-inputs">
            {{formInput systemFields.hp.fields.value value=system.hp.value }}
            <span class="sep">/</span>
            {{formInput systemFields.hp.fields.max value=system.hp.max }}
          </div>
        </div>
        <div class="stat-block">
          <span class="stat-label"><strong>{{localize "DANGEROUSGARY.Labels.long.armour"}}</strong></span>
          <div class="stat-inputs">
            {{formInput systemFields.armour value=system.armour }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <fieldset class="encounter-attacks">
    <legend>{{localize "DANGEROUSGARY.Attacks"}}    <a class="item-control" data-action="createItem" data-type="attack" data-tooltip="{{localize 'DANGEROUSGARY.NewAttack'}}"><i class="fas fa-plus"></i></a></legend>
    <div class="encounter-items-list">
      {{#each attacks as |item id|}}
        <div class="item" data-item-id="{{item.id}}">
          <details>
            <summary>
              <span>
                <span class="item-name" data-tooltip="{{{item.enrichedDescription}}}">
                  {{item.name}}
                  {{#if item.system.hasQuantity}}
                    ({{item.system.quantity}})
                  {{/if}}
                </span>
                {{#if item.system.hasDamage}}
                  <span class="item-info">{{item.system.damageFormula}} {{localize "DANGEROUSGARY.Labels.long.damage"}}</span>
                {{/if}}
                {{#if item.system.isBlast}}
                  <span class="item-info">{{localize "DANGEROUSGARY.Equipment.FIELDS.blast.label"}}</span>
                {{/if}}
              </span>
            </summary>
            <div class="item-description">{{{item.enrichedDescription}}}</div>
          </details>
          <div class="item-controls">
            {{#if item.system.hasDamage}}
              <span class="rollable" data-action="rollDamage" data-name="{{item.name}}" data-formula="{{item.system.damageFormula}}" data-tooltip="{{localize 'DANGEROUSGARY.RollDamage'}}">
                <i class="fas fa-dice-d20"></i>
              </span>
            {{/if}}
            <a data-tooltip="{{localize 'DANGEROUSGARY.Edit'}}" data-action="edit" data-item-id="{{item.id}}"><i class="fas fa-edit"></i></a>
            <a data-tooltip="{{localize 'DANGEROUSGARY.Delete'}}" data-action="delete" data-item-id="{{item.id}}"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      {{/each}}
    </div>
  </fieldset>

  <fieldset class="encounter-powers">
    <legend>{{localize "DANGEROUSGARY.Encounter.FIELDS.powers.label"}}</legend>
    {{formInput
      systemFields.powers
      enriched=enrichedPowers
      value=system.powers
      documentUUID=actor.uuid
      name="system.powers"
      collaborate="false"
      toggled="true"
    }}
  </fieldset>

  <fieldset class="encounter-description">
    <legend>{{localize "DANGEROUSGARY.Encounter.FIELDS.description.label"}}</legend>
    {{formInput
      systemFields.description
      enriched=enrichedDescription
      value=system.description
      documentUUID=actor.uuid
      name="system.description"
      collaborate="false"
      toggled="true"
    }}
  </fieldset>

</div>
