<div class="dice-roll">
  {{#if talentName}}
    <div class="roll-talent-name">{{talentName}}</div>
  {{/if}}
  <div class="roll-line">
    <span class="roll-label">{{{introText}}}</span>
    <span class="roll-total" {{#if formula}}data-tooltip="{{formula}}"{{/if}}>{{total}}</span>
    {{#if (eq rollType "save")}}
      {{#if success}}
        {{#if isCritical}}
          <span class="roll-icon success critical" data-tooltip="{{localize 'DANGEROUSGARY.Roll.Critical'}}"><i class="fas fa-check-double"></i></span>
        {{else}}
          <span class="roll-icon success" data-tooltip="{{localize 'DANGEROUSGARY.Roll.Success'}}"><i class="fas fa-check"></i></span>
        {{/if}}
      {{else}}
        {{#if isFumble}}
          <span class="roll-icon failure fumble" data-tooltip="{{localize 'DANGEROUSGARY.Roll.Fumble'}}"><i class="fas fa-skull-crossbones"></i></span>
        {{else}}
          <span class="roll-icon failure" data-tooltip="{{localize 'DANGEROUSGARY.Roll.Failure'}}"><i class="fas fa-times"></i></span>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
